.interface{
    background:  url(../img/hero-bg.jpg) no-repeat center, rgb(0, 0, 0, 0.3) ;
    background-blend-mode: multiply;
    height: 1100px;
}

.interface__title{
    font-size: 4em;
}

.interface__subtitle{
    font-size: 2.3em;
}